{% extends 'base.html'%}
<!--body-->
{% block content %}
<div class="container-fluid mt-3">
    <div class="row mx-auto">
        {% for Product in products %}
        <div class="card mx-auto mb-3" style="width: 18rem;">
            <img src="{{Product.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{Product.name}}</h5>
                <p class="card-text"><b>{{Product.price}}</b></p>
                <a href="#" class="btn btn-primary border btn-sm">Add To Cart</a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}